.main {
    color:red;
    font-weight: bold;
    font-size: 32px;
    background-color: black;
}

.link {
    font-weight: bold;
    font-size: 20;
    align-items: center;
}

.bottom {
    font-style: italic;
    font-size: 16px;
    color: red;
    background-color: black;
}
