.main {
    color:red;
    font-weight: bold;
    font-size: 32px;
    background-color: black;
}

.link {
    font-weight: bold;
    font-size: 20;
    align-items: center;
}

.recipe {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
    display: inline;
}

.bottom {
    font-style: italic;
    font-size: 16px;
    color: red;
    background-color: black;
}
.steps {
    font-style: italic;
    
}
