.main {
    color:red;
    font-weight: bold;
    font-size: 32px;
    background-color: black;
}

body {
    background-color: grey;
}

.card {
    background-color: white;
    padding: 30px;
}

.link {
    font-weight: bold;
    font-size: 20;
    align-items: center;
}

.link-container {
    border: 8px blue;
    background-color: white;
    
}

recipe {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
    display: inline;
}

.bottom {
    font-style: italic;
    font-size: 16px;
    color: red;
    background-color: black;
    text-align: center;
}
.steps {
    font-style: italic;
    
}
